# Extend default settings for all of my personal repositories defined in .github/settings.yml
_extends: .github:common-settings.yaml

repository:
  name: gpt
  description: Prompts, notebooks, and tools for generative pre-trained transformers.
  homepage: https://gpt.mrbro.dev

  topics: >-
    gpt,
    transformers,
    nlp,
    chatgpt,
    gpt-4

branches:
  - name: main
    protection:
      required_status_checks:
        strict: false
        contexts:
          - Aggregate Coverage
          - Build
          - Deploy
          - E2E Test Coverage
          - Generate Accessibility Report
          - Generate Performance Report
          - Lint
          - Prepare
          - Renovate / Renovate
          - Run Accessibility Tests
          - Run Performance Tests
          - Run Tests
          - Run Visual Tests
          - Unit Test Coverage

      enforce_admins: true
      required_pull_request_reviews: null
      restrictions: null
      required_linear_history: true
