---
name: Main

on:
  pull_request:
    branches: [main]
    types: [opened, ready_for_review, reopened, synchronize]
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

defaults:
  run:
    shell: 'bash -Eeuo pipefail {0}'

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - id: setup-pnpm
        name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

  lint:
    name: Lint
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Lint
        run: pnpm run lint

  test:
    name: Run Tests
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - id: cache-test
        name: Cache test artifacts
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: test-cache-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml', 'package.json', 'src/**/*.{ts,tsx}', '**/tests/**/*.{ts,tsx}', '**/tsconfig*.json') }}
          path: coverage

      - if: github.event_name == 'workflow_dispatch' || steps.cache-test.outputs.cache-hit != 'true'
        name: Test
        run: pnpm run test:coverage -- --ci --reporter=github-actions

      - if: github.event_name == 'workflow_dispatch' || steps.cache-test.outputs.cache-hit != 'true'
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json,./coverage/lcov.info
          flags: unit
          fail_ci_if_error: false
          verbose: true

  build:
    name: Build
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - id: cache-build
        name: Cache build artifacts
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: build-cache-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml', 'package.json', 'src/**/*.{ts,tsx}', 'index.html', 'public/**', '**/tsconfig*.json') }}
          path: dist

      - if: github.event_name == 'workflow_dispatch' || steps.cache-build.outputs.cache-hit != 'true'
        name: Build
        run: pnpm run build

      - if: github.ref =='refs/heads/main'
        name: Upload Artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: dist

  deploy:
    concurrency:
      group: pages
      cancel-in-progress: true
    environment:
      name: github-pages
      url: ${{ steps.deploy-to-pages.outputs.page_url }}
    if: github.ref =='refs/heads/main'
    name: Deploy
    needs: build
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5

      - name: Deploy to GitHub Pages
        id: deploy-to-pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
